.filter_search{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

.filter_search_subject{
    width: auto;
    padding: 5px;
    border-radius: 5px;
}

tfoot{
    display: table-header-group;
}

@media (max-width:991px) and (min-width:1px) {
    .filter_search {
        width: 100%;
    }
    .placeholder {
        margin-bottom: 10px;
    }
}
@media (max-width:767px) and (min-width:1px) {
    .slimScrollDiv {
        height: auto !important;
    }
}
